.room-menu-options {
  margin: auto;
  width: 40%;
  margin-top: 200px;
  padding: 50px;
}
.room-menu-options button {
  display: block;
  margin: 30px;
  width: 300px;
}
.room-menu-options a {
  text-decoration: none;
}
