.room-menu-options {
  height: 100vh;
}

.room-menu-options button {
  text-decoration: none;
  margin: 5% 0;
}

.room-menu-options a {
  padding: 0;
  text-decoration: none;
}

.room-menu-options .MuiButton-label {
  width: 18em;
  max-width: 18em;
}
